/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;	
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**********************************************************************************************/
.clearfix{
	&::after,&::before{
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}

/***********************************************************************************************/
body{
	font-family: sans-serif;
	font-size: 16px;
}
a{
	color:inherit;
	text-decoration: none;
}
.call2act{
	display: block;
	text-decoration: none;
	color:inherit;
	padding: 3px 10px;
	font-weight: 700;
	&:hover{
		background: rgba(0,0,0,0.1);
	}
}
.button{
	width:150px;
	padding: 10px 15px;
	display: inline-block;
	margin-top: 30px;
	border-radius: 3px;
	border:2px solid #fff;
	background: none;
	outline:none !important;
}
.main-title{
	font-size: 60px;
	margin-bottom: 30px;
	font-weight: 700;
	text-shadow: 
      4px 4px 0px #333, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
	span{
		font-size:72px;
		display: block;
		margin-bottom: 10px;
	}
}
.short-text{
	
	max-width: 800px; 
}
.hmid{
	display: block;
	margin: 0px auto;
}
.text-center{
	text-align: center;
}
.container{
	max-width: 100%;
	padding: 0px 10px;
	.half{
		width:50%;	
	}
	.three-quater{
		width:75%;	
	}
	
}
.vc{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section-header{
	font-size: 60px;
}
nav{
	display: flex;
	width:100%;
	padding:15px 10px;
	position: fixed;
	justify-content: space-between;
	align-content: center;
	flex-direction: row;
	top:0px;
	left:0px;
	color:#fff;
	z-index: 999;
	
	.company-name{
		font-weight: 700;
		font-size: 25px;
		letter-spacing: -2;
		line-height: 31px;
	}
	div.nav-links{
		
		
		div{
			display: inline-block;
			ul{
				list-style: none;
				@extend .clearfix;
				li{
					float:left;
					margin-left:10px;
					a{
						
						line-height: 25px;
						
					}
				}
			}
			&.nav-menu{
				padding-right: 10px;
				a{
					line-height: 31px;
				}
			}
			&.nav-call2act{
				border-left:2px solid #fff;
				
			}
		}
		
	}
	
}
.overlay{
	position: relative;
	&::before{
		content: '';
		display: block;
		width:100%;
		height:100%;
		position: absolute;
		top:0px;
		left:0px;
		background: rgba(0,0,0,0.3);
		z-index: 0;
	}
}
header{
	@extend .overlay;
	@extend .vc;
	min-height: 100vh;
	background: url('../img/headerbg.jpeg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-shadow: 0px 3px 1px rgba(0,0,0,0.3);
	svg {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 100px;
	}

	@media (max-width: 699px) {
	  .svg--lg {
	    display: none;
	  }
	}

	
	div{
		z-index: 1;	
	}
}
section{
	padding: 60px 0px;
}