/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "bootstrap/bootstrap";
/**********************************************************************************************/
.clearfix{
	&::after,&::before{
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}
.overlay{
	position: relative;
	*{
		z-index: 1;
	}
	&::before{
		position: absolute;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: url(../img/round.png);
		background-repeat: repeat;
		filter: invert(100%);
		opacity: 0.3;
		z-index: 0;
		left:0px;
		top:0px;
		
	}
	
}
.invert{
	color:#fff;
}

/***********************************************************************************************/
a{
	color:inherit;
	&:hover{
		color:inherit;
	}
	
}
.navbar{
	padding-right:0px;
	padding-left:0px;
	
}
.navbar-toggler{
	padding: 0px;
	border: none;
	margin-top: 10px;
	outline: none;
}
.navbar-trans{
	background: transparent;
	@extend .invert;
	transition: background .5s;
	&.active{
		background: $secondary;
	}	
}

.jumbotron{
	padding: 0px 2rem;
	border-radius: 0px;
	height: 100vh;
	background: url('../img/headerbg.jpeg');
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	@extend .overlay;
	@extend .invert;
	
	.text-center{
		width: 100%;
		
	}
}
section{
	padding: 2rem 0;
}
.midBorder{
	@media (min-width:768px){
		border:2px solid rgba(0,0,0,0.1);border-bottom:none;border-top:none;
	}
}

footer{
	background: $dark;
	padding: 2em 0px;
	color:#fff;
	a{
		color:inherit;
		display: inline-block;
		
		margin:0px 10px;
	}
}
.fa-star.on{
	color:$yellow;
}
.rating{
	margin-bottom: 0.5em;
}
#featuredhuts{
	.row{
		justify-content: center;
		.card{
			margin-left: 10px;
			margin-bottom: 10px;
			position: relative;
			padding-bottom: 48px;
			&.featured{
				
				&::after{
					content: 'FEATURED';
					position: absolute;
					top:5px;
					background: $yellow;
					right:0px;
					display: block;
					font-size: 0.7em;
					font-weight: 700;
					padding: 3px 5px 3px 3px;
				}
			}
			.btn{
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				border-radius: 0px;

			}
		}
	}
}
#lim{
	font-size: 30px;
	
	animation: spin 1s infinite;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#hut{
	display: flex;
	position: fixed;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: 100%;
	top:0px;
	left: 0px;
	min-height: 100vh;
	z-index: 1040;
	overflow-x: hidden;
	overflow-y: auto;
	
	
	.container-fluid.hut-content{
    		padding: 0px;
   		background: rgba(255,255,255,0.99);
		position: relative;
		#close-hut{
			position: absolute;
			top:10px;
			right:10px;
			color:#fff;
			z-index: 10 ;
		}
	}
	.bi:nth-child(1){
		height:50vh;
	}
	.bi:nth-child(2){
		
		padding-top: 30px;
		margin-left: -15px;
		
		@media (max-width:992px){
			margin-left: 0px;
			padding: 30px;
		}
	}
	.carousel-item{
		height:100%;
		background-size:cover;
		background-position: center;
		img{
			display: none !important;
		}
	}
	.full-desc{
		max-height: 9em;
		overflow-y: hidden ;
		display: block;
		position: relative;
		padding-right: 10px;
		margin-bottom: 20px;
		.scroller{
			display: block;
			width: 4px;
			position: absolute;
			top:0px;
			right: 0px;
			background: rgba(0,0,0,0.5) ;
		}
	}
}