/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "bootstrap/bootstrap";
/**********************************************************************************************/
.clearfix{
	&::after,&::before{
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}
$br : 3px;

/***********************************************************************************************/
a{
	color:inherit;
	&:hover{
		color:inherit;
	}
	
}
.navbar{
	padding-right:0px;
	padding-left:0px;
	
}
.navbar-light .navbar-toggler{
	padding: 0px;
	border: none;
	margin-top: 0.25rem;
	outline: none;
}
.jumbotron{
	padding: 0px 2rem;
	border-radius: 0px;
	height: 100vh;
	.text-center{
		width: 100%;
		
	}
}
section{
	padding: 2rem 0;
}
.midBorder{
	@media (min-width:768px){
		border:2px solid rgba(0,0,0,0.1);border-bottom:none;border-top:none;
	}
}

footer{
	background: $dark;
	padding: 2em 0px;
	color:#fff;
	a{
		color:inherit;
		display: inline-block;
		
		margin:0px 10px;
	}
}
.fa-star.on{
	color:$yellow;
}
.rating{
	margin-bottom: 0.5em;
}